.recipe{
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(44, 24, 24);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    min-width: 30%;
}
.image{
    border-radius: 30%;
    width: 240px;
    height: 240px;
}